@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Books";

}


<h1>@ViewBag.title</h1>
<h2>Author: @ViewBag.author </h2>
        
<h3>Description:</h3>
<div>@ViewBag.description</div>


@if (ViewBag.awards.Length > 0)
{
<h3>Awards:</h3>

<div>
    <ul>
        @foreach (var a in ViewBag.awards)
        {
    <li> @a</li>
        }
    </ul>
</div>
}

  