@{
    Layout = null;

    var Title = "1984";
    var Author = "G Orwell";
    var description = "An overview of how a society can be run";
    var awards = new String[]
        {
        "Best book 2016",
        "Best book 1999",
        "Best book 1996"
        };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1> @Title</h1>
        <h2>Author: @Author </h2>
        
        <h3>Description:</h3>
        <div>@description</div>


        @if (awards.Length > 0)
        {
        <h3>Awards:</h3>

        <div>
            <ul>
             @foreach (var a in awards)
             {
            <li> @a</li>
             }
            </ul>
        </div>
        }

    </div>
</body>
</html>
